$font-family: roboto-regular;
$font-style: roboto-light;
$color-white: #ffffff;
$color-green: #8BC34A;
$color-black: #000000;
$background: linear-gradient(to right,#429321, #B4EC51);   
$box-shadow: 0 2px 4px 0 #D8D8D8;

body {
  background: $color-white;
  width: 100%;
  font-family: $font-family;
  overflow-x: hidden;
  margin: auto;
}

.flex {
  display: flex;
}

.lpc-banner {
  background: {
    image: url(../image/banner.png);
    repeat: no-repeat;
    position: center;
    size: cover;
  }
  width: 100%;
  height: 620x;
  min-height: 592px;
}

.lpc-banner-button {
  justify-content: center;
  font-size: 9px;
  padding: 30px 0 0 40%;
  text-transform: uppercase;
}

p.lpc-banner-button {
  color: $color-black;
  width: 80px;
  height: 15px;
  padding: 5px 1%;
  letter-spacing: 1px;
}

button.lpc-banner-button {
  color: $color-green;
  border-radius: 100px;
  width: 78px;
  height: 32px;
  background-color: transparent;
  border: 2px solid $color-green;
}
    
.lpc-banner-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-hapoerp {
  margin: 100px 0 0 10%;
    
  img {
    width: 60%;
    height: 40px;
  }
}
    
.banner-icon {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 740px;
  padding-top: 30px;

  i {
    font-size: 30px;
  }
      
  .ti-gift {
    padding-left: 12px;
  }
  
  .better {
    padding-top: 19px;
    font: {
      style: $font-style;
      size: 22px;
    }
  }      
  
  .ti-alarm-clock {
    padding-left: 15px;
  }

  .ti-thumb-up {
    padding-left: 22px;
  }
}

.banner-slogan {
  font-style: roboto-italic;
  padding-top: 30px;
  font-size: 14px;
}

.start-now {
  padding: 10px 30px;
  width: 160px;
  height: 40px;
  background: $background;   
  color: $color-white;
  font-size: 13px;
  box-shadow: $box-shadow;
  text-transform: uppercase;
  border-radius: 100px;
  justify-content: center;
  letter-spacing: 1.33pt;
  border: $color-black;
}

.banner-start-now {
  padding-top: 30px;
  @extend .start-now;
}

.til-slogan {
  font: {
    style: roboto-italic;
    size: 11px;
  }
  letter-spacing: 0.3px;
}

.name-ti-bookmark-alt {
  font: {
    style: $font-style;
    size: 36px;
  }
  width: 308px;
  height: 60px;
  padding-left: 19px;
}

.lpc-today-i-learnt {
  justify-content: space-between;
  align-items: center;
  $size-padding: 0 20% 0 20% !global;
  height: 400px;
  $border: 1px solid #D8D8D8 !global;
  background-color: $color-white;
  display: flex;
}

.lpc-til-img {
  width: 50%;
  padding: 15px;

  img {
    width: 100%;
    height: 300px;
  }
}
  
.lpc-til-doc {
  width: 50%;
  height: 300px;
  padding: 15px;
}

.til-icon {
  display: flex;
  
  .ti-bookmark-alt {
    padding-top: 5px;
    font-size: 30px;
  }

  .ti-face-smile {
    @extend .ti-bookmark-alt;
  }
    
  @extend .name-ti-bookmark-alt;
    
  @extend .til-slogan;
}

.til-doc {
  text-align: justify;
  padding-top: 10px;
  line-height: 14px;
  font-size: 12px;
}

.til-start-now {
  width: 195px;
  height: 50px;
  padding-top: 10px;
  @extend .start-now;
}

.lpc-daily-report {
  justify-content: space-between;
  align-items: center;
  padding: $size-padding;
  height: 400px;
  border: $border;
  background-color: $color-white;
}

.daily-report-doc {
  width: 50%;
  height: 300px;
  padding: 15px;

  .deilay-report-icon {
    display: flex;

    .ti-write {
      padding-top: 5px;
      font-size: 30px;
    }

    .ti-calendar {
      @extend.ti-write;
    }      

    .name-ti-write {
      @extend .name-ti-bookmark-alt;
    }

    .name-ti-calendar {
      @extend .name-ti-bookmark-alt;
    }
  }
}

.daily-report-img {
  width: 50%;
  height: 300px;
  padding: 15px;

  img {
    width: 100%;
    height: 300px;
  }
}

.members-doc {
  justify-content: space-around;
  align-items: flex-start;

  p {
    font: {
      weight: 400;
      size: 8pt;
    }
    text-align: justify;
    line-height: 11pt;
    color: #283238;
    margin-top: -2px;
    padding-left: 3%;
  }

  i {
    color: $color-green;
    font-size: 15px;
  }
}

.lpc-oval-main {
  background: $background;
  align-items: center;
  justify-content: space-between;
  padding: $size-padding;
  height: 260px;
}

.lpc-oval {
  width: 100px;
  height: 190px;

  p {
    text: {
      transform: uppercase;
      align: center;
    }
    color: $color-white;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 12px 10px;
    display: flex;
  }

  .lpc-oval-inform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .oval-icon {
      border: 2px solid $color-white;
      border-radius: 100%;
      height: 80px;
      width: 80px;
      color: $color-white;
      font-size: 36px;
      justify-content: center;
      align-items: center;
    }

    .oval-small {
      background-color: #7CB342;
      border: 2px solid $color-white;
      border-radius: 100%;
      width: 36px;
      height: 36px;
      color: $color-white;
      font-size: 20px;
      margin-top: -20px;
      justify-content: center;
      align-items: center;
    }

    .ti {
      font-size: 30px;
    }
  }
}

.lpc-our-customers {
  background: {
    image: url(../image/rectangle3.png);
    size: cover;
  }
  height: 400px;
  width: 100%;
  border: 1px solid #C7C4C4;
  flex-direction: column;
  justify-content: space-between;
}

.our-customers {
  font: {
    style: $font-style;
    size: 36px;
  }
  color: $color-white;
  padding-top: 20px;
  text-align: center;
}

.avatar-img {
  padding: 20px 20% 0 20%;
  justify-content: space-between;
  align-items: center;

  .avatar {
    flex-direction: column;
    justify-content: center;

    img {
      width: 60px;
      height: 60px;
    }

    .duongnt {
      color: $color-white;
      font-size: 11px;
      padding: 10px;
      text-align: center;
    }
  }
}

.our-customers-oval {
  display: flex;
  margin: auto;

  .our-cus-oval {
    background-color: $color-white;
    border-radius: 100%;
    width: 8px;
    height: 8px; 
    border: 2px solid #9B9B9B;
  }

  .oval-mini {
    @extend .our-cus-oval;
    margin-left: 23px;
  }
}

.lpc-our-customers-doc {
  justify-content: center;
  align-items: flex-start;
  min-width: 650px;
  align-content: space-between;
  margin-bottom: 20px;

  i {
    padding-right: 15px;
    text-align: justify;
    color: #5b5b5c;
    font-size: 48px;
  }

  .our-customers-doc {
    font: {
      weight: 300;
      size: 10pt;
    }
    line-height: 25px;
    padding-top: 10px;
    text-align: justify;
    color: #A7A2A2;
    width: 530px;
  }

  .ti-quote-right {
    padding: 80px 0 0 15px;
  }
}

.lpc-mask {
  height: 140px;
  padding: $size-padding;
  background-color: #39474E;
  border: 1px solid #C7C4C4;
  align-items: center;
  justify-content: space-between;
}

.contact-hapo {
  color: #D0D8DC;
  font-size: 8pt;
  padding-top: 32px;
}

.inform-mask-hapo {
  padding-left: 10px;
  height: 80px;
  
  .hapo-img {
    font-size: 20px;

    img {
      width: 80px;
      height: 20px;
    }
  }

  @extend .contact-hapo;
}

.inform-mask {
  padding: 10px;

  .get-in-touch {
    font-size: 11px;
    color: $color-green;
  }
    
  p {
    @extend .contact-hapo;
  }
}
  
.mask-icon {
  justify-content: space-between;
  min-width: 120px;
  padding-top: 45px;
  color: $color-green;
  display: flex;

  i {
    float: left;
  }
}
