body {
  background: #ffffff;
  width : 100%;
  font-family: roboto-regular;
}

.lpc-banner {
  background: url(../image/banner.png) no-repeat;
  width: 100%;
  height: 620x;
  background-size: contain;
  min-height: 592px;
}

.lpc-banner-button {
  font-size: 12px;
  padding-top: 2%;
  padding-left: 65%;
  display: flex;
}

.lpc-about-us {
  color: #000000 ;
  width: 80px;
  height: 15px;
  padding: 10px 15px;
  float: left;
}

.lpc-sign-in {
  color:  #8BC34A;
  border-radius: 100px;
  padding: 10px 20px;
  border: 2px solid #8BC34A;
  float: left;
}

.lpc-banner-container {
  padding-top: 35px;
}

.banner-hapoerp {
  margin-top: 80px;
  margin-left: 45%;
}

.banner-hapoerp img {
  width: 20%;
  height: 30px;
}

.banner-icon {
  padding-top: 30px;
  padding-left: 30%;
  display: flex;
}

.icon-ti-gift {
  float: left;
}

.ti-gift {
  padding-left: 12px;
  font-size: 30px;
}

.better {
  font-style: roboto-light;
  padding-top: 19px;
  font-size: 22px;
}

.icon-ti-alarm-clock {
  padding-left: 18%;
  float: left;
}

.ti-alarm-clock {
  padding-left: 20px;
  font-size: 30px;
}

.icon-ti-thumb-up {
  padding-left: 18%;
  float: left;
}

.ti-thumb-up {
  padding-left: 22px;
  font-size: 30px;
}

.banner-slogan {
  font-style: roboto-italic;
  padding-top: 45px;
  font-size: 14px;
  padding-left: 32%;
}

.banner-start-now {
  padding-top: 34px;
  padding-left: 45%;
}

.start-now {
  padding: 13px 40px;
  width: 140px;
  height: 20px;
  background: linear-gradient(to right,#429321, #B4EC51);   
  color: #ffffff;
  font-size: 16px;
  border-radius: 40px;
  box-shadow: 0 2px 4px 0 #000000;
}

.lpc-today-i-learnt {
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  height: 400px;
  border: 1px solid #D8D8D8;
  background-color: #ffffff;
  display: flex;
}

.lpc-til-img {
  padding: 10px;
  float: left;
}

.lpc-til-img img {
  width: 100%;
  height: 300px;
}

.lpc-til-doc {
  width: 50%;
  height: 300px;
  padding: 10px;
  float: left;
}

.til-icon {
  display: flex;
}

.ti-bookmark-alt {
  padding-top: 5px;
  font-size: 30px;
  float: left;
}

.name-ti-bookmark-alt {
  font-style: roboto-light;
  color: #444444;
  width: 308px;
  height: 63px;
  font-size: 36px;
  padding-left: 19px;
}

.til-slogan {
  font-style: roboto-italic;
  font-size: 12px;
  padding-top: 15px;
}

.til-doc {
  padding-top: 15px;
  font-size: 12px;
}

.til-start-now {
  width: 195px;
  height: 50px;
  padding-top: 30px;
}

.startnow {
  padding: 13px 40px;
  width: 195px;
  height: 50px;
  background: linear-gradient(to right,#429321, #B4EC51);   
  color: #ffffff;
  font-size: 16px;
  border-radius: 40px;
  box-shadow: 0 2px 4px 0 #000000;
}

.lpc-daily-report {
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  height: 400px;
  border: 1px solid #D8D8D8;
  background-color: #ffffff;
  display: flex;
}

.daily-report-doc {
  width: 50%;
  height: 300px;
  padding: 10px;
  float: left;
}

.deilay-report-icon {
  display: flex;
}

.ti-write {
  padding-top: 5px;
  font-size: 30px;
  float: left;
}

.name-ti-write {
  font-style: roboto-light;
  color: #444444;
  width: 308px;
  height: 63px;
  font-size: 36px;
  padding-left: 19px;
}

.daily-report-img {
  width: 50%;
  height: 300px;
  padding: 10px;
  float: left;
}

.daily-report-img img {
  width: 100%;
  height: 300px;
}

.ti-user {
  font-size: 30px;
  padding-top: 5px;
  float: left;
}

.name-ti-user {
  font-style: roboto-light;
  width: 308px;
  height: 63px;
  font-size: 36px;
  padding-left: 18px;
  float: left;
}

.til-doc {
  padding-top: 15px;
  font-size: 11px;
}

.members-doc-one {
  display: flex;
}

.ti-check-box {
  color: #8BC34A;
  font-size: 18px;
  float: left;
}

.doc-ti-check-box {
  width: 400px;
  font-size: 11px;
  padding-left: 18px;
  float: left;
}

.members-doc-two {
  padding-top: 17px;
  display: flex;
}

.lpc-oval-main {
  background: linear-gradient(to right,#429321, #B4EC51);
  height: 322px;
}

.lpc-oval-imform {
  padding: 0 0 0 12%;
  justify-content: space-around;
  width: 75%;
  height: 322px;
}

.flex {
  display: flex;
}

.lpc-oval {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oval-icon {
  border: 2px solid #ffffff;
  border-radius: 100%;
  height: 107px;
  width: 107px;
  color: #ffffff;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.oval-small {
  background-color: #7CB342;
  border: 2px solid #ffffff;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  color: #ffffff;
  font-size: 20px;
  margin-top: -20px;
  text-align: center;
}

.inform-oval {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  width: 60px;
  height: 40px;
  padding-top: 12px;
  text-align: center;
}

.ti {
  font-size: 30px;
}

.ti-face-smile {
  padding-top: 5px;
  font-size: 30px;
}
.ti-unlock {
  color: #8BC34A;
  font-size: 18px;
  float: left;
}

.ti-cup {
  color: #8BC34A;
  font-size: 18px;
  float: left;
}

.ti-stats-up {
  color: #8BC34A;
  font-size: 18px;
  float: left;
}

.lpc-our-customers {
  background: url(../image/rectangle3.png) no-repeat;
  padding-top: 30px;
  height: 450px;
  border: 1px solid #C7C4C4;
}

.our-customers {
  font-style: roboto-light;
  color: #ffffff;
  font-size: 36px;
  padding-left: 40%;
}

.avatar-img {
  padding-top: 35px;
  padding-left: 14%;
  display: flex;
}

.avatar {
  padding-left: 50px;
  float: left;
}

.our-customers-img img {
  width: 60px;
  height: 60px;
}

.duongnt {
  color: #ffffff;
  font-size: 11px;
  padding-left: 13px;
}

.our-customers-oval {
  padding-top: 20px;
  padding-left: 45%; 
  display: flex;
}

.our-cus-oval {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #D8D8D8;
  background-color: #ffffff;
  float: left;
}

.oval-mini {
  width: 10px;
  height: 10px; 
  border-radius: 100%;
  border: 2px solid #D8D8D8;
  color: #ffffff;
  margin-left: 23px;
  float: left;
}

.oval-mini::after {
  content: ' ';
  clear: both;
  display: block;
}

.lpc-our-customers-doc {
  padding-left: 25%;
}

.ti-quote-left {
  color: #d0d8dc;
  font-size: 48px;
}

.our-customers-doc {
  font-weight: 300;
  line-height: 25px;
  padding-left: 45px;
  color: #d0d8dc;
  width: 500px;
  font-size: 9pt;
}

.ti-quote-right {
  color: #d0d8dc;
  padding-left: 55%;
  font-size: 48px;
}

.ti-calendar {
  padding-top: 5px;
  font-size: 30px;
  float: left;
}

.name-ti-calendar {
  font-style: roboto-light;
  width: 308px;
  height: 63px;
  font-size: 36px;
  padding-left: 15px;
  float: left;
}

.lpc-mask {
  height: 140px;
  padding-top: 40px;
  padding-left: 17%;
  background-color: #39474E;
  border: 1px solid #C7C4C4;
  display: flex;
}

.hapo-img {
  font-size: 20px;
}

.hapo-img img {
  width: 80px;
  height: 20px;
}

.inform-mask {
  padding-left: 50px;
  float: left;
}

.get-in-touch {
  font-size: 11px;
  color: #8BC34A;
}

.contact {
  color: #D0D8DC;
  font-size: 8pt;
  padding-top: 14px;
}

.mask-icon {
  padding-top: 55px;
  justify-content: space-between;
  min-width: 120px;
  color: #8BC34A;
  padding-left: 38px;
  display: flex;
}

.mask-icon i {
  float: left;
}
